@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
    --bg-color: rgb(178 182 184);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-left {
    background: url("background.jpg") center;
    background-size: cover;
    height: 100vh;
    width: 30vw;
    position: relative;
}

.content-right {
    flex: 1;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    background-color: rgba(14, 13, 13, 0.4);
    position: absolute;
    width: 100%;
    top: 300px;
    text-align: center;
    color: white
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 5px rgb(95, 94, 94);
}

.form-inputs {
    display: flex;
    gap: 40px;
}

.form-inputs div:not(.form-left):not(.form-right) {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

label {
    font-weight: 100;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(95, 94, 94);
    letter-spacing: 1px;
}

.form-header {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 10px;
    color: rgb(48, 48, 48);
}

.header {
    width: 90%;
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 100px;
}

input {
    border: 1px solid rgb(172, 168, 168);
    border-radius: 5px;
    padding: 7px 5px;
    font-size: 1.1rem;
}

button {
    border: none;
    margin-left: 30px;
    padding: 15px 50px;
    border-radius: 7px;
    font-size: 1.2rem;
}

button:hover {
    background-color: blue;
    color: white;
}

a {
    text-decoration: none;
    color: green;
}

.login {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border: 1px solid rgb(88, 88, 255);
    box-shadow:  2px 3px 7px rgb(179, 179, 179);
}


@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }

    .content-left {
        background-size: cover;
        height: 30vh;
        width: 100vw;
    }

    .logo {
        top: 10px;
    }

    .form-inputs {
        flex-direction: column;
        gap: 0px;
    }

    input {
        width: 70vw;
    }
    
    .header {
        padding-top: 30px;
        font-size: 1rem;
    }
}