@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
    --bg-color: rgb(246, 246, 246);
    --font-color: #101211;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-left {
    background: url("background.jpg") center;
    background-size: cover;
    height: 100vh;
    width: 30vw;
    position: relative;
}

.content-right {
    flex: 1;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    background-color: rgba(14, 13, 13, 0.4);
    position: absolute;
    width: 100%;
    top: 300px;
    text-align: center;
    color: white
}

.credit {
    width: 100%;
    color: white;
    background-color: rgba(14, 13, 13, 0.4);
    text-align: center;
    position: absolute;
    bottom: 5px;
}

.credit a {
    text-decoration: underline;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px rgb(222, 222, 222);
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 100;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(95, 94, 94);
    letter-spacing: 1.5px;
}

.form-header {
    font-weight: bold;
    font-size: 1.35rem;
    margin-bottom: 30px;
    margin-top: 10px;
}

.header {
    width: 90%;
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 100px;
}

input {
    border: 1px solid rgb(172, 168, 168);
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 1.1rem;
}

button {
    border: none;
    margin-left: 30px;
    padding: 15px 50px;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #637b47;
}

button:hover {
    background-color: #3c532d;
    color: white;
}

button:active {
    background-color: #919d70;
}

a {
    text-decoration: none;
    color: green;
}

.login {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border: 1px solid rgb(88, 88, 255);
    box-shadow:  2px 3px 7px rgb(179, 179, 179);
}

img {
    filter: invert(100%) sepia(100%) saturate(24%) hue-rotate(66deg) brightness(107%) contrast(106%);
    width: 70px;
}

@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }

    .content-left {
        background-size: cover;
        height: 20vh;
        width: 100vw;
    }

    .form-row {
        flex-direction: column;
    }

    .logo {
        top: 0px;
    }

    input {
        width: 70vw;
    }
    
    .header {
        padding-top: 30px;
        font-size: 1rem;
    }
}